version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/builder"
    schedule:
      interval: "daily"
    labels: ["dependencies"]
  - package-ecosystem: "npm"
    versioning-strategy: lockfile-only
    directory: "/"
    schedule:
      interval: "daily"
    labels: ["dependencies"]
  # Dependabot only updates hashicorp GHAs, external GHAs are managed by internal tooling (tsccr)
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
