name: Publish release

permissions:
  contents: write # for creating a release and uploading release artifacts

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  release:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      - name: GH Release
        run: |
          gh release create "${GITHUB_REF#refs/tags/}" ./syntaxes/*.json --generate-notes
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
