name: Publish release

permissions:
  contents: write # for creating a release and uploading release artifacts

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  release:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - name: GH Release
        run: |
          gh release create "${GITHUB_REF#refs/tags/}" ./syntaxes/*.json --generate-notes
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
