name: Test All Grammar

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  copywrite:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Checkout Repo
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # https://github.com/actions/checkout/releases/tag/v4.1.1
      - name: Install copywrite
        uses: hashicorp/setup-copywrite@v1.1.2
      - name: Validate Header Compliance
        run: copywrite headers --plan

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # https://github.com/actions/checkout/releases/tag/v4.1.1
    - uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65 # https://github.com/actions/setup-node/releases/tag/v4.0.0
      with:
        node-version-file: '.nvmrc'
    - name: Install modules
      run: npm ci
    - name: Run vscode-tmgrammar-test
      run: npm test
