name: Test All Grammar

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  copywrite:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Checkout Repo
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # https://github.com/actions/checkout/releases/tag/v3.5.3
      - name: Install copywrite
        uses: hashicorp/setup-copywrite@v1.1.2
      - name: Validate Header Compliance
        run: copywrite headers --plan

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # https://github.com/actions/checkout/releases/tag/v3.5.3
    - uses: actions/setup-node@bea5baf987ba7aa777a8a0b4ace377a21c45c381 # https://github.com/actions/setup-node/releases/tag/v3.8.0
      with:
        node-version-file: '.nvmrc'
    - name: Install modules
      run: npm ci
    - name: Run vscode-tmgrammar-test
      run: npm test
